.navbar-collapse{
    margin-right: 200px;
    font-size: 20px;
    margin: 10px;
}
i{
    margin-left: 110px;
    color: blue;
}
i2{
    margin-left: 90px;
    color:pink;
}
i3{
    margin-left: 140px;
    color:black;
}
i4{
    margin-left: 330px;
    color:black;
}
.tes{
    margin-top: 30px;
}
i5{
        margin-left: 60px;
        color:purple;
      
}
i6{
    margin-left: 70px;
    color:blue;
}
i7{
    margin-left: 35px;
    color:rgb(255, 0, 234);
}
i8{
    margin-left: 30px;
    color:purple;
}
i9{
    margin-left: 30px;
    color:blue;
}
